body{
    background-color: black;
    color:white ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* 
.hh{
    background-color: #181818;
    margin-bottom:10px ;
} */

.chat-container {
    width: 90%;
    max-width: 90%;
    height: 80%;
    background-color: rgba(79, 77, 77, 0.46);
    border-radius:12px ;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 50px; 
    /* margin-bottom: 30px; */
}

.chat-box{
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.messae{
    max-width: 75%;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.4;
    word-wrap: break-word;
    
}

.user-msg{
    /* background-color: rgb(117, 156, 235); */
    color: white;
    align-self: flex-end;
    padding: 5px 10px;
    background-color: rgb(106, 26, 102);
    border-radius: 5px;
}

.bot-msg{
    /* background-color: rgba(128, 128, 128, 0.381); */
    color: white;
    align-self: flex-start;
    background-color: rgba(106, 26, 102, 0.456);
    padding: 5px;
    border-radius: 6px;
    margin: 5px 0;

}



.input-area{
    display: flex;
    padding: 10px;
    background-color: #181818;
    border-top: 1px solid #2d2d2d;
}

#user-input {
    flex: 1;
    background-color: #252526;
    border: 1px solid #333333;
    color: white;
    padding: 10px;
    border-radius: 6px;
    outline: none;
}

#send-btn {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 8px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

#send-btn:hover {
    background-color: #0062a3;
}